DATABASE_URL=mysql://root:1234@104.198.201.11/sopesP1
MONGODB_COLLECTION=Comentarios
MONGODB_DATABASE=Proyecto1Sopes
MONGODB_URL="mongodb://sopes1p1-2s2021:2E8TQCpXND5ca8PdKgWfG1uZGQq9LaeIrvKEDtZ0DVc4JJyCkFkfVkO3TurMlIB6TT6BphIiJRksDavsZhoeLw==@sopes1p1-2s2021.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000&appName=@sopes1p1-2s2021@"